.keep-logo {
    width: 32px;
}

.search-container {
    width: 50%;
    max-width: 720px;
    background-color: #f1f3f4;
    padding: 6px 12px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .search-container {
        width: 100%;
        margin: 0 10px;
    }
}